.presentation {
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: left;

    &_bloc {
        text-align: justify;

        p {
            background: darken(yellow, 10%);
            padding: 15px 5px;
        }
    }

    @media screen and (max-width:400px) {
        h2 {
            font-size: 15px;
        }
    }

    h2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: #aaafff;
        padding: 5px 0;
        color: white;
    }

    .Typewriter {
        margin-left: 5px;
    }

    &_projets {
        width: 100%;

        .p-flex {
            padding: 15px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: darken(yellow, 10%);

        }

        &-bloc {
            width: 200px;
            height: 365px;
            border: 1px solid rgb(134, 10, 134);
            margin: 10px;
            border-radius: 15px;
            overflow: hidden;
            background: transparent;

            h3 {
                padding-left: 5px;
            }

            &:hover {
                transform: scale(1.10);
                background: rgb(134, 10, 134);
                color: white;
                @include transHoverMenu
            }

            button {
                width: 190px;
                height: 300px;
                padding: 0 5px 5px 5px;
                background: transparent;
                border: none;
            }

            img {
                width: 190px;
                height: 300px;
                object-fit: cover;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}